body {
  background-color: #f6f3ec;
}

p {
  font-family: "Figtree", sans-serif;
}

img {
  border-radius: 20%;
}

button {
  display: block;
  margin: 30px auto 0px;
  border: 1px solid #7172b3;
  background: #7172b3;
  color: black;
  font-size: 16px;
  font-family: "Figtree", sans-serif;
  line-height: 22px;
  padding: 12px 25px;
}

button:hover {
  cursor: pointer;
}

.refference {
  position: absolute bottom 0 left 0;
  font-family: "Figtree", sans-serif;
  list-style: none;
  font-size: 10px;
}
