body {
  background-color: #f6f3ec;
}

h1,
h2 {
  text-decoration: none;
  font-size: 35px;
  font-family: "La Belle Aurore", cursive;
  text-align: center;
  color: #7172b3;
  padding: 20px;
}

p {
  font-family: "Figtree", sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 25px;
}

img {
  border-radius: 20%;
}

button {
  display: block;
  margin: 30px auto 0px;
  border: 1px solid #7172b3;
  background: #7172b3;
  color: black;
  font-size: 16px;
  font-family: "Figtree", sans-serif;
  line-height: 22px;
  padding: 12px 25px;
}

button:hover {
  cursor: pointer;
}

.collection {
  padding-right: 100px;
}

.fa-solid {
  color: #7172b3;
  font-size: 18px;
  opacity: 50%;
}

.fa-chevron-right {
  color: black;
}
