body {
  background-color: #f6f3ec;
}

h1,
h2 {
  font-family: "La Belle Aurore", cursive;
  text-align: center;
  color: #7172b3;
}

p {
  font-family: "Figtree", sans-serif;
  font-size: 14px;
}

img {
  border-radius: 20%;
}

button {
  display: block;
  margin: 30px auto 0px;
  border: 1px solid #7172b3;
  background: #7172b3;
  color: black;
  font-size: 16px;
  font-family: "Figtree", sans-serif;
  line-height: 22px;
  padding: 12px 25px;
}

button:hover {
  cursor: pointer;
}
